.docHeader {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 250px;
  /* border-bottom: 1px solid #e; */
  box-sizing: border-box;
  background: #fff;
  z-index: 1000;
}
h1 {
  font-size: 20px;
  font-weight: 700;
}
.navBar {
  display: flex;
}
.list {
  display: flex;
}
.list li {
  margin: 0 20px;
}
a {
  color: #1a1a1a;
  font-weight: 700;
  text-decoration: none;
}
.txtLink {
  display: inline-block;
}
.linkActive {
  padding-bottom: 5px;
  border-bottom: 3px solid #1e222b;
}
