.docMain {
  background: #1e222b;
}
.contentHead {
  display: grid;
  height: 400px;
}
.headImage {
  grid-area: 1 / 1;
  z-index: 100;
}
.boxHead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: 1 / 1;
  z-index: 200;
}
.headTit {
  margin-bottom: 40px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
}
.headData {
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px #000;
  color: #fff;
  /* border: 1px solid #000; */
}
.areaMarkdown {
  max-width: 1120px;
  margin: 40px auto;
  font-size: 1.2rem;
  color: #fff;
}

/* 헤딩 마크다운 스타일 */
.areaMarkdown > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #fff;
  /* vertical-align: middle; */
}

.areaMarkdown {
  h1 {
    margin-bottom: 20px;
    font-size: 3rem;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 2.8rem;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 2.4rem;
  }
  h4 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  h5 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  h6 {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
}

/* 순서가 없는 리스트 */
.areaMarkdown {
  ul {
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: disc;
    li {
      margin: 5px 0;
      ul {
        margin: 10px 0 10px 20px;
        list-style: square;
        li {
          margin: 5px 0;
        }
      }
    }
  }
}

/* 순서가 있는 리스트 */
.areaMarkdown {
  ol {
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: decimal;
    li {
      margin: 5px 0;
      ol {
        margin: 10px 0 10px 20px;
        list-style: hangul;
        li {
          margin: 5px 0;
        }
      }
    }
  }
}

/* 혼합리스트 */

/* 코드블럭 */
.areaMarkdown {
  pre {
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    &:before {
      position: absolute;
      right: 30px;
      content: attr(data-language);
    }
  }
}

/* 기타 : 일반 택스트 */
.areaMarkdown p {
  margin-top: 5px;
  line-height: 1.5rem;
  & code {
    padding: 1px 5px;
    color: #f1184c;
    background: #e5e5e5;
  }
}

/* 기타 : 수평선 */
.areaMarkdown hr {
  margin: 20px 0 40px;
  border: 4px solid #fff;
}

/* 기타 : 인용문 */
.areaMarkdown blockquote {
  margin-bottom: 20px;
  padding: 40px 24px 40px 14px;
  font-weight: 700;
  color: #999;
  border-radius: 10px;
  background: #dfdcb9;
  & p {
    /* display: inline-block; */
    padding-left: 10px;
    border-left: 5px solid #503c52;
    line-height: 1.5rem;
  }
}

/* toc */
.tableOfContents {
  /* display: none; */
  position: fixed;
  top: 100px;
  right: 0;
  width: 250px;
  z-index: 1;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  &.active {
    /* display: block; */
    opacity: 1;
  }
}

.tableOfContents ul {
  list-style: none;
}

.tableOfContents ul li ul {
  margin-left: 10px;
  list-style: none;
}

.tableOfContents ul li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
}
